@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";


:root {
  --primary: #4B2C20;
  --primary-light: #E8D8CF;

  --secondary: #064E3B;
  --secondary-light: #D1FAE5;

  --accent: #FFF8F6;

  --neutral: #4b4a4a;
}


@media screen and (max-width: 640px) {
  .container {
    width: 90%;
  }
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}