@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
@import "@heroui/styles";

:root {
  --primary: #244D3F;
  --secondary: #1F2937;
  --neutral: #64748B;
}

body {
  font-family: "Outfit", sans-serif;
}


@media screen and (max-width: 640px) {
  .container {
    width: 90%;
  }
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}